# NetBeans private settings
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/ant-deploy.xml

# Build output
build/
dist/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store
